streamlit
whisper
pdf2image
Pillow
google-generativeai
gspread
oauth2client
numpy
reportlab
matplotlib
requests
pandas
PyPDF2
python-pptx
opencv-python
torch
torchaudio
mediapipe
plotly
fpdf
deepface
transformers
torchvision
google-api-python-client
google-auth
google-auth-oauthlib
tf-keras
kaleido
scikit-learn
python-docx
gdown
google-auth