streamlit
whisper
pdf2image
Pillow
google-generativeai
gspread
oauth2client
numpy
reportlab
matplotlib
requests
pandas
PyPDF2
python-pptx
opencv-python-headless==4.8.1.78
torch
torchaudio
mediapipe==0.10.13
plotly
fpdf
deepface==0.0.91
transformers
torchvision
google-api-python-client
google-auth
google-auth-oauthlib
tf-keras
kaleido
scikit-learn
python-docx
gdown
google-auth
tensorflow-cpu==2.13.0